
<div id='body' class="container-fluid">
    <div class="grid">
        <div class="row flex-align-stretch" style='min-height: 33vh; margin-bottom:3vh;'>
            <div class="cell">
                <h2><u>Wind</u></h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/windy.png' ) }} style="width: 1em" border="0"> {{ weather["wind_gust_max_10min"] }}m/s</h2>
                <h2>Ø {{ weather["wind_speed_avg_10min"] }}m/s</h2>
                <h2>Bft. {{ weather["wind_force_avg_10min"] }}</h2>
                <h2>TODO WINDROSE<h2>
            </div>
            
            <div class="cell">
                <h2><u>Temperatur</u></h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/temperature.png'       ) }} style="width: 1em" border="0"> {{ weather["air_temperature"] }}°C</h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/water-temperature.png' ) }} style="width: 1em" border="0"> {{ weather["water_temperature"] }}°C</h2>
                <h2>Taupunkt: {{ weather["dew_point"] }}°C</h2>
                <h2>Windchill: {{ weather["windchill"] }}°C</h2>
            </div>
        </div>

        <div class="row flex-align-stretch" style='min-height: 33vh; margin-bottom:3vh;'>
            <div class="cell">
                <h2><u>Wasser</u></h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/rain.png'      ) }} style="width: 1em" border="0"> {{ weather["precipitation"] }}mm</h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/sea-level.png' ) }} style="width: 1em" border="0"> {{ weather["water_level"] }}m ü. M.</h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/humidity.png'  ) }} style="width: 1em" border="0"> {{ weather["humidity"] }}%</h2>
                <h2><img src= {{ url_for('static', filename = 'Images/weather/barometer.png' ) }} style="width: 1em" border="0"> {{ weather["barometric_pressure_qfe"] }}hPa</h2>
            </div>
            
            <div class="cell">
                <h2><u>Warnungen</u></h2>
                <h2>Strahlung: {{ weather["global_radiation"] }}W/m²</h2>
                <div style="margin-left: auto; margin-right: 0;">
                    {% if weather["minutes_since_last_measurement"] < 15 %}
                        <span class="tally success">Letzte Messung: {{weather["time"].strftime("%d.%m.%Y %H:%M")}}</span>
                    {% elif weather["minutes_since_last_measurement"] < 65 %}
                        <span class="tally warning">Letzte Messung: {{weather["time"].strftime("%d.%m.%Y %H:%M")}}</span>
                    {% else %}
                        <span class="tally alert">Daten sind älter als eine Stunde, Letzte Messung: {{weather["time"].strftime("%d.%m.%Y %H:%M")}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
