<footer id="footer">
    <a href="\mythenquai"    data-role="ripple" data-ripple-target="footer" class="button large dark">Mythenquai</a>
    <a href="\tiefenbrunnen" data-role="ripple" data-ripple-target="footer" class="button large dark">Tiefenbrunnen</a>
    {% if daten_aktuell %}
        <span>Letzte Messung: {{letzte_messung.strftime("%d.%m.%Y %H:%M")}}</span>
    {% else %}
        <span style="color: red; font-weight: bold;">Daten sind älter als eine Stunde, Letzte Messung: {{letzte_messung.strftime("%d.%m.%Y %H:%M")}}</span>
    {% endif %}
</footer>